.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 8rem;
  box-shadow: 0 0.4rem 0.4rem $black-03;
  padding: 1.6rem;
  @include view-size(tab-port) {
    padding: 2.8rem min(5.208vw, 10rem);
  }
  @include view-size(desktop) {
    height: 12rem;
    box-shadow: none;
  }
  @include view-size(big-desktop) {
    height: 14rem;
  }
  .logo-container-mobile {
    display: block;
    @include view-size(desktop) {
      display: none;
    }
  }

  .left-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-container .logo-container {
    display: none;
    @include view-size(desktop) {
      display: block;
      max-width: 30rem;
    }
    @include view-size(big-desktop) {
      max-width: 49.5rem;
      min-width: 18rem;
    }
  }

  .right-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-container .menu {
    display: none;

    @include view-size(tab-land) {
      display: none;
    }

    @include view-size(desktop) {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    @include view-size(big-desktop) {
      gap: 5rem;
    }
  }

  .right-container .menu a {
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
    @include view-size(big-desktop) {
      font-size: 2.4rem;
    }
  }

  .right-container .menu a.log-in-link {
    color: $jade;

    &.active {
      display: none;
    }
  }

  .right-container .divider {
    display: none;

    @include view-size(desktop) {
      display: block;
      border-left: 0.1rem solid $silver-chalice;
      margin: 0 2rem;
      height: 6rem;
    }
  }

  .right-container .language-select {
    display: none;

    @include view-size(desktop) {
      display: block;
      font-size: 1.6rem;
    }
  }

  .right-container-mobile {
    display: block;
    font-size: 1.6rem;

    @include view-size(desktop) {
      display: none;
    }
  }
}
