.carousel-banner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83vw;
  @include view-size(tab-port) {
    height: 45.2rem;
  }
  /* Background */
  .banner-container {
    display: none;
    @include view-size(tab-port) {
      display: block;
      position: absolute;
      top: 0;
      height: inherit;
      width: 192rem;
    }
  }
  .banner-mobile-container {
    display: block;
    position: absolute;
    top: 0;
    @include view-size(tab-port) {
      display: none;
    }
  }

  /* Background Filter */
  .bg-filter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 83vw;
    background: transparent linear-gradient(180deg, #000000 0%, #0000001f 100%)
      0% 0% no-repeat padding-box;
    @include view-size(tab-port) {
      height: 45rem;
    }
  }

  /* Background Content */
  .bg-description-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83vw;
    @include side-padding;
    padding-bottom: 4rem;
    @include view-size(500px) {
      padding-bottom: 6rem;
    }
    @include view-size(tab-port) {
      height: inherit;
    }
    @include view-size(desktop) {
      padding: 5rem;
    }
  }

  .bg-description-container .unit-label {
    font-size: min(4.44444vw, 4.2rem);
    font-weight: 600;
    color: $tropical-rain-forest;
    margin-left: 4.7rem;
    // margin-bottom: 2rem;
  }

  .bg-description-container .title-container {
    display: flex;
    align-items: center;
    // margin-bottom: 6.3rem;
    svg:hover {
      fill: $white;
      cursor: pointer;
    }
  }

  .bg-description-container .title-container .back-icon svg {
    margin-right: 1.4rem;
  }

  .bg-description-container .title-container .title {
    display: flex;
    align-items: center;
    font-size: min(5.55555vw, 6.3rem);
    color: $white;
    font-weight: 600;
    line-height: 1.2;
    max-width: 174rem;
    max-height: 14.2rem;
    height: 8vw;
    @include view-size(tab-land) {
      font-size: 5rem;
    }
    @include view-size(desktop) {
      font-size: min(4.3vw, 6.3rem);
      width: 86vw;
    }
    @include view-size(big-desktop) {
      width: 90vw;
    }
  }

  .start-btn {
    width: 100%;
    background-color: $faux-green;
    @include view-size(tab-port) {
      width: 20.6rem;
    }
  }
  .start-btn,
  .locked-btn {
    font-size: min(4.44444vw, 2.4rem);
    height: 5rem;
    @include view-size(tab-port) {
      height: 7rem;
    }
  }

  .start-btn,
  .locked-btn {
    @include view-size(tab-port) {
      margin-left: 4.7rem;
    }
  }

  // .locked-btn {
  //   background: $manatee;
  //   width: 18.4rem;
  //   color: $white;
  //   border: none;
  //   &:hover,
  //   &:focus,
  //   &:active {
  //     border-color: none;
  //     color: $white;
  //   }

  //   svg {
  //     margin-right: 1rem;
  //   }
  // }
}
