.courses-view {
  @import "./components/ProgressTracker/styles";
  @import "./components/SessionCollapse/styles";
  width: 100vw;
  min-height: 100vh;
  display: flex;
  overflow: hidden;

  flex-direction: row;
  &:lang(ar) {
    flex-direction: row-reverse;
  }

  .left-column {
    width: 100%;
    padding-bottom: 24rem;
    @include view-size(desktop) {
      width: 71.56%;
    }
  }

  .right-column {
    width: 28.44%;
    display: none;
    @include view-size(desktop) {
      display: block;
    }
  }

  .session-column {
    display: block;
    @include view-size(desktop) {
      display: none;
      margin-bottom: 0;
    }
  }

  /* <Session Column Collapse - Mobile> */

  .session-column-collapse {
    background: $transparent;
    border-bottom: 0;
    margin-bottom: 5rem;

    @include view-size(desktop) {
      display: none;
    }
  }

  .session-column-collapse > .ant-collapse-item > .ant-collapse-header {
    @include side-padding-only;
    width: 100%;
    background: $tropical-rain-forest;
    color: $white;
    font-size: 2.4rem;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 4rem;
    border-left: 0.1rem solid $silver-60;
    border-right: 0.1rem solid $silver-60;
    border-bottom: 0.1rem solid $silver-60;
    display: flex;
    gap: 1rem;

    height: 7rem;
    @include view-size(desktop) {
      height: 14rem;
    }

    > .ant-collapse-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .session-column-collapse svg {
    fill: $white;
  }

  .session-column-collapse .ant-collapse-header {
    display: flex;
    align-items: center;
  }

  .session-column-collapse .ant-collapse-content-box {
    padding: 0;
  }

  /* </Session Column Collapse - Mobile> */

  /* <Header /> */

  .unit-header {
    width: 100%;
    height: 14rem;
    background: $tropical-rain-forest;
    color: $white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    &:lang(ar) {
      direction: rtl;
    }

    @include side-padding-only;
    @include view-size(desktop) {
      margin-bottom: 6rem;
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }

  .unit-header .back-button {
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
  }

  .unit-header .title {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .back-button {
    display: flex;
    align-items: center;
  }

  .back-button svg {
    fill: $white;

    &:lang(ar) {
      transform: rotate(180deg);
    }
  }

  /* <Content />  */

  .unit-content {
    color: $black;
    width: 100%;
    margin-bottom: 5rem;

    &:lang(ar) {
      direction: rtl;
    }

    @include side-padding-only;
    @include view-size(desktop) {
      padding-left: 8rem;
    }

    .title {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 5rem;

      @include view-size(desktop) {
        font-size: 3.2rem;
      }
    }

    .video-container {
      border: 0.1rem solid $manatee;
      border-radius: 0.8rem;
      height: 69.193rem;
      // width: 95.025%;
      // max-width: 122.964rem;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .content-box-container {
      border: 0.1rem solid $manatee;
      border-radius: 0.8rem;
      height: 69.193rem;
      // width: 95.025%;
      // max-width: 122.964rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }

    .assessment-title {
      font-size: 2.4rem;
      color: $tropical-rain-forest;
      font-weight: 600;
      text-align: center;
      margin-bottom: 2rem;

      @include view-size(desktop) {
        font-size: 2.8rem;
      }
    }

    .assessment-description {
      font-size: 1.6rem;
      color: $shuttle-gray;
      text-align: center;
      margin-bottom: 5rem;

      @include view-size(desktop) {
        font-size: 1.8rem;
      }
    }

    .assessment-button {
      color: $white;
      background-color: $faux-green;
    }

    .assessment-result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .assessment-score-text {
        font-size: 1.8rem;
        color: $shuttle-gray;
        margin-bottom: 1rem;
      }
      .assessment-score-number {
        font-size: 8rem;
        color: $tropical-rain-forest;
        font-weight: 600;
        margin-bottom: 5rem;

        &.failed {
          color: $cardinal;
        }
      }

      .assessment-result-mark {
        font-size: 2.8rem;
        color: $tropical-rain-forest;
        font-weight: 600;
        margin-bottom: 1rem;

        &.failed {
          color: $cardinal;
        }
      }

      .assessment-result-thanks {
        font-size: 1.8rem;
        color: $shuttle-gray;
        text-align: center;
      }

      .assessment-result-button {
        font-size: 1.6rem;
        color: $faux-green;
        background: transparent;
        box-shadow: none;

        &.failed {
          color: $cardinal;
        }
      }
    }
  }

  /* <Info />  */

  .unit-info {
    color: $black;
    width: 100%;

    @include side-padding-only;

    @include view-size(desktop) {
      padding-left: 8rem;
      padding-right: 5rem;
    }
  }

  /*======================= RIGHT PANEL =======================*/

  .session-header {
    width: 100%;
    background: $tropical-rain-forest;
    color: $white;
    font-size: 2.4rem;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 4rem;
    border-left: 0.1rem solid $silver-60;
    border-right: 0.1rem solid $silver-60;
    border-bottom: 0.1rem solid $silver-60;

    display: flex;
    justify-content: space-between;

    height: 7rem;
    @include view-size(desktop) {
      height: 14rem;
    }

    &:lang(ar) {
      direction: rtl;
    }
  }

  .session-header .session-menu-left-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .session-header .session-menu-right-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    display: none; // Disable Close Button
  }

  .session-header .session-menu-icon {
    display: flex;
    align-items: center;
    svg {
      fill: $white;
    }
  }

  .session-header .session-menu-close {
    display: flex;
    align-items: center;
    svg {
      fill: $white;
    }
  }
}
