.edit-profile-section {
  padding: 0;
  background: $whisper;

  @include view-size(desktop) {
    padding: 12rem 5rem 12.6rem 5rem;
  }
  .form-create-profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include view-size(tab-land) {
      padding: 5rem;
    }
  }

  .form-container {
    width: 100%;
    max-width: 92.6rem;
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 0 0.3rem 1.6rem $black-29;
    border-radius: 0.4rem;
    opacity: 1;

    padding-left: min(4.45vw, 5rem);
    padding-right: min(4.45vw, 5rem);
    padding-top: 3.3rem;
    padding-bottom: 10rem;
  }

  .form-title-container {
    margin-bottom: 2rem;

    @include view-size(tab-land) {
      margin-bottom: 6rem;
    }
  }

  .title-container {
    font-weight: bold;
    color: $tropical-rain-forest;
    margin-bottom: 1.1rem;

    font-size: 2.4rem;
    @include view-size(tab-land) {
      font-size: 2.8rem;
    }
  }

  .description-container {
    color: $shuttle-gray;
    line-height: 2rem;
    font-size: 1.6rem;
    @include view-size(tab-land) {
      font-size: 1.8rem;
    }
  }

  .form-column-container {
    display: flex;
    column-gap: 3rem;
    flex-wrap: wrap;
  }

  .form-width {
    flex: 1;
    min-width: 28rem;
  }

  /* AntD Form Item Label Override */
  .ant-col.ant-form-item-label,
  .ant-form-item-control {
    flex: none !important;
    min-height: 0 !important;
  }

  .ant-form-item {
    margin-bottom: 2rem;

    @include view-size(tab-land) {
      margin-bottom: 3rem;
    }
  }

  .form-input {
    height: 5rem;
  }

  /* Column */
  .country-and-phone-number-container {
    display: flex;
    gap: 1.6rem;
    flex: 1;
    min-width: 28rem;
  }

  .country-and-phone-number-container .form-width-country {
    flex: 1;
  }

  .country-and-phone-number-container .form-width-phone-number {
    flex: 2;
  }

  .form-width-birthdate {
    flex: 1;
    min-width: 28rem;
  }
  /* Column */

  .form-button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    @include view-size(tab-land) {
      justify-content: flex-end;
      margin-top: 5rem;
    }
  }

  .form-button-container .btn-continue {
    color: $white;
    border: none;
    flex: 1;

    @include view-size(tab-land) {
      flex: none;
    }
  }

  .form-button-container .btn-cancel {
    border: none;
    flex: 1;
    @include view-size(tab-land) {
      flex: none;
    }
  }

  .form-select-organization-type {
    height: 5rem;
  }

  .ant-select-selector {
    height: 5rem;
  }

  //FLAG

  .flag {
    padding-bottom: 0;
  }

  .flag > button {
    height: 5rem;
  }

  //ANTD

  .ant-select-arrow {
    right: 1.6rem;
  }
  .ant-form-item-explain-error > div {
    height: 1rem;
  }

  .ant-select .ant-select-arrow svg {
    transform: rotate(90deg);
  }

  .ant-select.ant-select-open .ant-select-arrow svg {
    transform: rotate(270deg);
  }

  .ant-picker-suffix {
    transform: rotate(90deg);
  }

  .ant-picker-focused .ant-picker-suffix {
    transform: rotate(270deg);
  }
}
