.sign-up-section {
  padding-bottom: 13.7rem;
  .background {
    position: fixed !important; // Override for nextjs/Image position. Can't change without !important
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .banner-container {
    display: flex;
    padding: 13.2rem 15rem 13.2rem 10rem;
    justify-content: space-between;

    @include view-size(tab-land) {
      display: flex;
      row-gap: 5rem;
      flex-direction: column;
    }

    @include view-size(desktop) {
      display: flex;
      padding: 13.2rem 15rem 0 10rem;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .banner-description-text {
    max-width: 58rem;
  }

  .banner-description-text {
    color: $apple;

    font-size: 10rem;
    @include view-size(desktop) {
      font-size: min(5.208vw, 10rem);
    }
  }

  .journey-text {
    color: $apple;

    font-size: 12rem;
    @include view-size(desktop) {
      font-size: min(6.25vw, 12rem);
    }
  }

  .sign-up-container {
    background: $white;
    padding: 4.8rem 5rem 5.4rem 4.8rem;
    width: 62.5rem;

    @include view-size(tab-land) {
      width: 100%;
    }

    @include view-size(desktop) {
      width: 62.5rem;
    }
  }

  .sign-up-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: $apple;
    margin-bottom: 1.7rem;
  }

  .login-container {
    display: flex;
    align-items: center;
    margin-bottom: 4.3rem;
  }

  .login-sub-text {
    font-size: 1.6rem;
  }

  .login-text {
    font-size: 1.4rem;
    color: $apple;
    margin-left: 0.9rem;
    font-weight: bold;
  }

  .email-container,
  .password-container {
    label {
      color: $manatee;
    }
  }

  .sign-up-input {
    height: 5rem;
  }

  .terms-and-condition-text {
    color: $jade;
    font-size: 1.4rem;
  }

  .sign-up-checkbox {
    font-size: 1.4rem;
  }

  .terms-and-condition-container {
    margin-bottom: 0;
  }

  .ant-checkbox-wrapper {
    margin-left: 0;
  }

  .sign-up-btn {
    width: 100%;
  }
}
