.sign-up-section {
  @include view-size(big-desktop) {
    padding-bottom: 13.7rem;
  }

  .background {
    display: none;
    @include view-size(desktop) {
      display: block;
      position: fixed !important; // Override for nextjs/Image position. Can't change without !important
      z-index: -1;
      width: 100%;
      height: 100%;
      min-width: 130rem;
    }
  }
  .background-mobile {
    display: block;
    @include view-size(desktop) {
      display: none;
    }
  }
  .banner-container:lang(ar) {
    @include view-size(tab-land) {
      flex-direction: row-reverse;
    }
  }
  .banner-container {
    display: flex;
    justify-content: center;
    @include side-padding;
    padding-bottom: 10rem;
    @include view-size(tab-land) {
      row-gap: 5rem;
    }
    @include view-size(desktop) {
      justify-content: space-between;
      flex-direction: row;
    }
    @include view-size(big-desktop) {
      padding: 13.2rem 15rem 0 10rem;
    }
  }
  .banner-description-text:lang(ar) {
    text-align: right;
    left: auto;
    right: 0;
    width: 100%;
  }
  .banner-description-text {
    color: $tropical-rain-forest;
    position: absolute;
    top: 29vw;
    left: 0;
    font-size: 8.88888vw;
    max-width: 80rem;
    width: 80vw;
    @include side-padding;
    @include view-size(tab-port) {
      top: 27vw;
    }
    @include view-size(tab-land) {
      font-size: 8rem;
    }
    @include view-size(desktop) {
      position: unset;
      max-width: 58rem;
      width: 43vw;
      font-size: min(5.208vw, 10rem);
      padding: 0;
    }
  }

  .sign-up-filter {
    height: 72vw;
    width: 100%;
    background: transparent
      linear-gradient(127deg, $white 0%, $white-2e 82%, $transparent 100%) 0% 0%
      no-repeat padding-box;
    mix-blend-mode: lighten;
    opacity: 0.75;
    position: absolute;
    top: 8rem;
    @include view-size(desktop) {
      display: none;
    }
  }

  .journey-text {
    color: $tropical-rain-forest;
    font-size: 8.88888vw;
    font-weight: 500;
    @include view-size(tab-land) {
      font-size: 8rem;
    }
    @include view-size(desktop) {
      font-size: min(6.25vw, 12rem);
    }
  }

  .sign-up-container {
    background: $white;
    width: 100%;
    max-width: 70rem;
    @include view-size(desktop) {
      padding: 4.8rem 5rem 5.4rem 4.8rem;
      width: 62.5rem;
    }
  }
  .sign-up-title:lang(ar) {
    text-align: right;
    @include view-size(tab-port) {
      text-align: center;
    }
    @include view-size(desktop) {
      text-align: right;
    }
  }
  .sign-up-title {
    font-size: 2.6rem;
    font-weight: bold;
    color: $tropical-rain-forest;
    margin-bottom: 1.7rem;

    @include view-size(tab-port) {
      text-align: center;
    }
    @include view-size(desktop) {
      font-size: 2.8rem;
      text-align: start;
    }
  }
  .login-container:lang(ar) {
    flex-direction: row-reverse;
  }
  .login-container {
    display: flex;
    align-items: center;
    margin-bottom: 4.3rem;
    justify-content: flex-start;
    @include view-size(tab-port) {
      justify-content: center;
    }
    @include view-size(desktop) {
      justify-content: flex-start;
    }
  }
  .ant-form-vertical .ant-form-item-label:lang(ar) {
    text-align: right;
  }
  .login-sub-text {
    font-size: 1.6rem;
  }

  .login-text {
    font-size: 1.4rem;
    color: $tropical-rain-forest;
    margin-left: 0.9rem;
    font-weight: bold;
    cursor: pointer;
  }

  .email-container,
  .password-container {
    label {
      color: $manatee;
    }
  }
  .sign-up-input:lang(ar) {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
  }
  .sign-up-input {
    height: 5rem;
  }

  .terms-and-condition-text {
    color: $jade;
    font-size: 1.6rem;
  }

  .sign-up-checkbox {
    font-size: 1.6rem;
  }

  .terms-and-condition-container {
    margin-bottom: 0;
  }
  .ant-checkbox-wrapper:lang(ar) {
    display: flex;
    flex-direction: row-reverse;
  }
  .ant-checkbox-wrapper {
    margin-left: 0;
  }

  .sign-up-btn-container {
    display: flex;
    justify-content: center;
    @include view-size(desktop) {
      justify-content: flex-start;
    }
  }

  .sign-up-btn {
    width: 100%;
    @include view-size(tab-port) {
      max-width: 15rem;
    }
    @include view-size(desktop) {
      max-width: 100%;
    }
  }

  .ant-input-affix-wrapper > input.ant-input:lang(ar) {
    text-align: right;
  }
  .ant-checkbox + span {
    padding-left: 1.3rem;
  }

  .set-password-rule-container {
    margin-bottom: 2.4rem;
  }

  .set-password-rule-container:lang(ar) {
    text-align: right;
  }

  .ant-form-item-explain.ant-form-item-explain-error:lang(ar) {
    text-align: right;
  }

  .set-password-requirements-container:lang(ar) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  }
  .password-shown-btn {
    width: fit-content;
    min-width: 2.2rem;
    height: fit-content;
    padding: 0;

    &:hover {
      border-color: transparent;
    }
  }
}
@import "./SuccessMessage/styles";
