.footer {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: $black;
    height: 10rem;
    width: 100vw;
  }

  .menu .menu-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex: 1;

    border-left: 0.1rem solid $boulder;
  }

  .menu .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $white;
    font-size: 1.2rem;
    line-height: 1;
    gap: 0.6rem;
  }
}
