/*
Media Query Manager
[0px - 599px] is where our normal styles apply
600px - 899px:      Tablet portrait
900px - 1199px:     Tablet landscape
1200px - 1799px:    Desktop
1800px and above:   Big desktop
$breakpoint argument choices:
- tab-port
- tab-land
- desktop
- big-desktop
1em = 16px (default browser font size)
*/

@mixin view-size($breakpoint) {
  @if type-of($breakpoint) == string {
    @if $breakpoint == phone-only {
      //0px
      @media only screen and (max-width: 599px) {
        @content;
      }
    }

    @if $breakpoint == tab-port {
      //600px
      @media only screen and (min-width: 599px) {
        @content;
      }
    }

    @if $breakpoint == tab-land {
      //900px
      @media only screen and (min-width: 900px) {
        @content;
      }
    }

    @if $breakpoint == desktop {
      //1200px
      @media only screen and (min-width: 1200px) {
        @content;
      }
    }

    @if $breakpoint == big-desktop {
      //1800px
      @media only screen and (min-width: 1800px) {
        @content;
      }
    }
  }

  @if type-of($breakpoint) == number {
    @if unit($breakpoint) == "px" {
      @media only screen and (min-width: $breakpoint) {
        @content;
      }
    }
  }
}

@mixin view-padding($breakpoint) {
  @if $breakpoint == phone-only {
    //0px
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @if $breakpoint == tab-port {
    //600px
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @if $breakpoint == tab-land {
    //900px
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @if $breakpoint == desktop {
    //1200px
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @if $breakpoint == big-desktop {
    //1800px
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
