// Utilities Sample

._spacer-xs {
  margin-bottom: 1rem;
}

._spacer-sm {
  display: block;
  margin-bottom: 1.8rem;
}

._spacer-md {
  margin-bottom: 4rem;
}

._spacer-lg {
  margin-bottom: 6rem;
}

._section-label {
  font-size: 6.3rem;
  font-weight: 600;
  font-family: Arial;
}

._subheading-label {
  font-size: 2.8rem;
  color: $tropical-rain-forest;
  font-weight: 600;
  font-family: Arial;
}

._invisible {
  visibility: hidden;
}
