/* Colors */

$cardinal: #c41e32;
$crimson: #ee161f;

$gossip: #d3f8c2;
$pastel-green: #7ed958;
$apple: #69bd44;
$jade: #00b165;
$faux-green: #00b274;
$tropical-rain-forest: #007a50;
$frosted-mint: #e3fff5;
$persian-blue: #1e2dbd;

$white: #ffffff;
$white-50: #ffffff50;
$whisper: #fbfbfd;
$athens-gray: #e9ebee;
$alto: #dedede;
$silver: #cccccc;
$silver-60: #cccccc99;
$silver-chalice: #afaaaa;
$manatee: #8f949d;
$boulder: #767676;
$shuttle-gray: #616771;
$gray44: #707070;
$mine-shaft: #333333;
$black-29: #00000029;
$black03: #030303;
$black: #000000;

$shuttle-gray-79: #61677179;
$transparent: #ffffff00;
