.courses-certificate-container {
  position: relative; // Essential for position absolute in card-details to work
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  max-width: 55.3rem;
  height: 54.5rem;

  .card-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
    left: -0.1rem;
    bottom: 0.1rem;
    padding: 4rem;
    background: white;
    width: 101%;
    max-width: 55.4rem;

    height: 24rem;
    transition: 0.25s;

    .card-hover-details {
      opacity: 0%;
      height: 0rem;
      margin-bottom: 0rem;
      pointer-events: none;
      overflow: hidden;
    }

    &:hover {
      height: 100%;
      transition: 0.25s;

      .card-hover-details {
        transition: 0.3s;
        opacity: 100%;
        height: 100%;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .card-certificate {
    font-size: 2.8rem;
    font-weight: bold;
    color: $apple;
    margin-bottom: 2rem;
  }

  .card-title {
    font-size: 2.4rem;
    font-weight: bold;
    // height: 8rem;
  }

  .card-description {
    font-size: 1.6rem;
    line-height: 3rem;
    // margin-bottom: 4.2rem;
  }

  .download-btn {
    width: 17.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}
