.courses-certificate-container {
  position: relative; // Essential for position absolute in card-details to work
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0 0.3rem 0.6rem #00000029;
  width: 100%;
  max-width: 55.3rem;
  max-height: 54.5rem;
  overflow: hidden;

  @include view-size(tab-port) {
    height: 54.5rem;
  }

  .certificate-card-image-container {
    padding-bottom: 24rem;
  }

  .card-details-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
    left: -0.1rem;
    bottom: 0.1rem;
    background: $white;
    width: 101%;
    max-width: 55.4rem;
    height: 24rem;
    transition: 0.25s;

    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include view-size(tab-port) {
      padding: 4rem;
    }

    &:hover {
      height: 100%;
      transition: 0.25s;
    }

    &:hover .card-description {
      transition: 0.5s;
      opacity: 100%;
      height: fit-content;
      pointer-events: auto;
    }

    &:hover .card-view-button {
      transition: 0.5s;
      opacity: 100%;
      height: fit-content;
      pointer-events: auto;

      &:lang(ar) {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    &:hover + .locked-icon-container {
      transition: 0.5s;
      fill: $black;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .card-certificate {
    font-weight: bold;
    color: $tropical-rain-forest;
    margin-bottom: 2rem;

    font-size: 1.8rem;

    &:lang(ar) {
      text-align: right;
    }
    @include view-size(tab-port) {
      font-size: 2.8rem;
    }
  }

  .card-title {
    margin-bottom: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: bold;

    font-size: 2rem;

    &:lang(ar) {
      text-align: right;
    }

    @include view-size(tab-port) {
      font-size: 2.4rem;
    }
  }

  .card-description {
    opacity: 0%;
    height: 0;
    margin-bottom: 0;
    pointer-events: none;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 5; /* number of lines to show */

    &:lang(ar) {
      text-align: right;
    }

    line-clamp: 5;
    font-size: 1.4rem;
    line-height: 2rem;
    @include view-size(340px) {
      -webkit-line-clamp: 6; /* number of lines to show */
      line-clamp: 6;
    }
    @include view-size(tab-port) {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }

  .card-view-button {
    opacity: 0%;
    height: 0;
    margin-bottom: 0;
    pointer-events: none;

    margin-bottom: 2rem;
  }

  .download-btn {
    width: 17.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    &:lang(ar) {
    }
  }
}
