.banner-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  min-height: 55rem;
  @include side-padding;
  @include view-size(tab-port) {
    height: 65rem;
  }
  @include view-size(tab-land) {
    padding-top: 10rem;
    height: 95.9rem;
  }

  /* Banner Title */

  .banner-title {
    font-size: 3.2rem;
    text-align: start;
    margin-bottom: 2rem;
    @include view-size(tab-port) {
      font-size: 5rem;
      text-align: center;
    }
    @include view-size(tab-land) {
      margin-bottom: 5rem;
      font-size: 7rem;
    }
    @include view-size(big-desktop) {
      font-size: 8rem;
    }
  }

  .banner-title b {
    font-weight: 500;
    @include view-size(tab-land) {
      font-weight: 600;
    }
  }

  /* Banner Description */

  .banner-description {
    width: 100%;
    max-width: 105.8rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: left;
    color: $black03;
    @include view-size(tab-port) {
      text-align: center;
    }
    @include view-size(tab-land) {
      color: $mine-shaft;
      line-height: 4rem;
      font-size: 1.8rem;
      margin-bottom: 3.7rem;
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    @include view-size(tab-port) {
      gap: 3rem;
      flex-direction: row;
    }
  }
  .sign-up-btn,
  .log-in-btn {
    width: 100%;
    max-width: 100%;
    @include view-size(tab-port) {
      max-width: 10.8rem;
    }
  }
}
