.banner-section {
  width: 192rem;
  height: 108rem;

  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;

  margin-top: 12rem;

  .banner-title {
    font-size: 8rem;
    margin-bottom: 5rem;
    b {
      font-weight: 600;
    }
  }

  .banner-description {
    font-size: 1.8rem;
    width: 105.8rem;
    height: 10.3rem;
    line-height: 4rem;
    color: $black;
    margin-bottom: 3.7rem;

    text-align: center;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-bottom: 3rem;
  }

  .watch-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    font-size: 1.8rem;
  }

  .watch-link-container .watch-link-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $jade;
    border-bottom: 0.1rem solid $jade;
  }
}
