.courses-main-section {
  @import "./components/CoursesCard/styles";
  @import "./components/CoursesFilter/styles";
  @import "./components/CoursesCertificate/styles";

  padding-top: 8rem;
  padding-bottom: 13.7rem;
  @include side-padding-only;
  width: 100vw;

  background: $whisper;
  .courses-main-card-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;

    &:lang(ar) {
      flex-direction: row-reverse;
    }

    &:lang(en) {
      flex-direction: row;
    }
  }

  .courses-description {
    font-size: 1.8rem;
    color: $shuttle-gray;
    margin-bottom: 5rem;
    line-height: 2.8rem;

    &:lang(ar) {
      text-align: right;
    }
  }

  .certificate-container,
  .courses-card {
    display: none;
  }
}
