.create-profile-form-container {
  .form-column-container {
    display: flex;
    gap: 3rem;
  }

  .form-width {
    width: 100%;
    max-width: 39.8rem;
  }

  .form-input {
    height: 5rem;
  }

  .column-container {
    display: flex;
    align-items: flex-end;
    gap: 1.6rem;
    width: 39.8rem;
  }

  .form-width-country {
    width: 12.2rem;
  }

  .form-width-phone-number {
    width: 26rem;
  }

  .form-width-month {
    width: 15rem;
  }

  .form-width-day {
    width: 10.5rem;
  }

  .form-width-year {
    width: 12.3rem;
  }

  .margin-bottom {
    margin-bottom: 5.8rem;
  }

  .form-button-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn-continue {
    width: 13rem;
    background: $manatee;
    color: $white;
    border: none;
  }

  .ant-btn.ant-btn-primary {
    width: 13rem;
  }

  .form-select-organization-type {
    height: 5rem;
  }

  .ant-select-selector {
    height: 5rem;
  }

  .form-width-day > .ant-select-selector {
    width: 10.5rem;
  }

  .date-picker-year {
    height: 5rem;
  }

  //FLAG

  .flag {
    padding-bottom: 0;
  }

  .flag > button {
    height: 5rem;
  }

  //ANTD

  .ant-select-arrow {
    right: 1.6rem;
  }
  .ant-form-item-explain-error > div {
    height: 1rem;
  }

  .ant-select .ant-select-arrow svg {
    transform: rotate(90deg);
  }

  .ant-select.ant-select-open .ant-select-arrow svg {
    transform: rotate(270deg);
  }

  .ant-picker-suffix {
    transform: rotate(90deg);
  }

  .ant-picker-focused .ant-picker-suffix {
    transform: rotate(270deg);
  }
}
