.profile-preview-section {
  padding: 0;
  background: $whisper;

  @include view-size(tab-land) {
    padding: 5rem;
  }

  @include view-size(desktop) {
    padding: 12rem 5rem 12.6rem 5rem;
  }

  .title-container {
    font-size: 2.8rem;
    font-weight: bold;
    color: $tropical-rain-forest;
    margin-bottom: 1.1rem;
    &:lang(ar) {
      text-align: right;
    }
  }

  .description-container {
    font-size: 1.8rem;
    color: $shuttle-gray;

    &:lang(ar) {
      text-align: right;
    }
  }

  .profile-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-preview {
    width: 100%;
    max-width: 92.6rem;
    background: $white 0% 0% no-repeat padding-box;

    border-radius: 0.4rem;
    opacity: 1;

    padding-left: min(4.45vw, 5rem);
    padding-right: min(4.45vw, 5rem);
    padding-top: 3.3rem;
    padding-bottom: 10rem;

    @include view-size(tab-land) {
      box-shadow: 0 0.3rem 1.6rem $black-29;
    }
  }

  .profile-title {
    margin-bottom: 6rem;
  }
  .name-text {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;

    &:lang(ar) {
      text-align: right;
    }
  }

  .organization-type-container {
    width: 100%;
    display: flex;

    &:lang(ar) {
      flex-direction: row-reverse;
    }
    &:lang(en) {
      flex-direction: row;
    }
  }
  .organization-type-text {
    background: $frosted-mint;
    font-size: 1.6rem;
    max-width: 36.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 5rem;
  }

  .profile-preview-column {
    display: flex;
    margin-bottom: 3rem;
    row-gap: 5rem;
    flex-wrap: wrap;

    &:lang(ar) {
      flex-direction: row-reverse;
    }

    &:lang(en) {
      flex-direction: row;
    }
  }

  .email-container,
  .phone-number-container,
  .gender-container,
  .organization-name-container,
  .birthday-container,
  .nationality-container {
    width: 50%;
    min-width: 30rem;
  }

  .email-space-bottom {
    margin-bottom: 0.4rem;
    flex-wrap: wrap;
  }

  .preview-space-bottom {
    margin-bottom: 5rem;
    flex-wrap: wrap;
  }

  .space-bottom {
    margin-bottom: 7.8rem;
  }

  .text {
    font-size: 1.4rem;
    color: $manatee;
    margin-bottom: 1rem;

    &:lang(ar) {
      text-align: right;
    }
  }

  .sub-text {
    font-size: 1.8rem;

    &:lang(ar) {
      text-align: right;
    }
  }

  .preview-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    &:lang(ar) {
      flex-direction: row-reverse;
    }
  }

  .btn-submit {
    width: 100%;
    @include view-size(tab-land) {
      width: 14.2rem;
    }
  }
}
