.course-preview-container {
  @import "./components/CarouselBanner/styles";
  @import "./components/UnitDetails/styles";
  @import "./components/SelfPractice/styles";
  @import "./components/QandA/styles";

  background: $whisper;

  .tab-container {
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 5rem;
  }
}
