.background {
  display: none;
  @include view-size(tab-port) {
    position: fixed !important; // Override for nextjs/Image position. Can't change without !important
    z-index: -1;
    width: 100%;
    height: 95.9rem;
    display: block;
  }
}
.home-banner-mobile {
  display: block;
  @include view-size(tab-port) {
    display: none;
  }
}
.bg-filter {
  @include view-size(tab-port) {
    opacity: 0.9;
    background: transparent
      linear-gradient(179deg, $white 50%, $transparent 100%) 0% 0% no-repeat
      padding-box;
  }
  @include view-size(desktop) {
    background: transparent
      linear-gradient(179deg, $white 24%, $transparent 100%) 0% 0% no-repeat
      padding-box;
    height: 95.9rem;
  }
}
.steps-section:lang(ar) {
  text-align: end;
}
.steps-section {
  width: 100%;
  min-height: 49.8rem;
  background: $whisper;
  display: flex;
  align-items: center;
  justify-content: center;
  @include side-padding;

  .steps-container {
    width: 100%;
    max-width: 192rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    @include view-size(tab-port) {
      gap: 5rem;
    }
  }

  .step-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include view-size(tab-port) {
      gap: 3.5rem;
      flex-direction: row;
    }
  }
  .step-container:lang(ar) {
    align-items: flex-end;
    @include view-size(tab-port) {
      align-items: flex-start;
      flex-direction: row-reverse;
    }
  }
  .step-container .logo:lang(ar) {
    height: 7rem;
  }
  .step-container .logo {
    border: 0.4rem solid $tropical-rain-forest;
    border-radius: 50%;
    min-width: 6.9rem;
    height: 100%;
    height: 8rem;
    max-width: 8rem;
    justify-content: center;
    display: flex;
    @include view-size(tab-port) {
      height: 100%;
    }
    img {
      padding: 1.4rem !important;
    }
  }

  .step-container .text-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include view-size(tab-port) {
      gap: 2.5rem;
    }
  }

  .text-group .title {
    font-size: 2.4rem;
    font-weight: 600;
    color: $tropical-rain-forest;
  }

  .text-group .description {
    font-size: 1.6rem;
    line-height: 3rem;
    color: $shuttle-gray;
    max-width: 36rem;
    @include view-size(desktop) {
      font-size: 1.8rem;
      line-height: 4rem;
    }
  }
}

.visitors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $tropical-rain-forest;
  color: $white;
  @include view-size(tab-port) {
    height: 40rem;
  }
  @include view-size(tab-land) {
    height: 49.3rem;
  }
  @include side-padding;
  .main-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    .count {
      font-weight: 600;
      font-size: 6rem;
      margin-bottom: 4rem;
      @include view-size(tab-port) {
        margin-bottom: 0;
      }
      @include view-size(tab-land) {
        font-size: 10rem;
      }
    }
  }

  .sub-count-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 6rem;
    @include view-size(tab-port) {
      flex-direction: row;
    }
  }

  .sub-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    flex-wrap: wrap;

    .title {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    .count {
      font-size: 4.2rem;
      font-weight: 600;
    }
  }
}

.gadgets-section {
  width: 100%;
  height: 100%;
  background: $white;
  justify-content: center;
  display: none;
  @include view-size(tab-land) {
    display: flex;
  }
}
.gadgets-mobile-section {
  display: block;
  @include view-size(tab-land) {
    display: none;
  }
}
