.form-section-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  .form-wrapper {
    max-width: 108.8rem;
    width: 90vw;
    @include view-size(tab-land) {
      width: 87vw;
    }
  }

  .text-container {
    text-align: center;
  }

  ._subheading-label {
    margin-bottom: 2rem;
  }
  .inquiry-form-wrapper {
    text-align: center;
  }
  .form-description {
    font-size: 1.8rem;
    color: $shuttle-gray;
    line-height: 1.4;
    margin-bottom: 3rem;
    @include view-size(tab-land) {
      margin-bottom: 2rem;
    }
  }

  .upper-input-container {
    @include view-size(tab-port) {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(2, 49%);
    }
    @include view-size(tab-land) {
      gap: 2;
    }
  }
  .form-input:lang(ar) {
    text-align: right;
  }
  .form-input,
  .ant-select-selector {
    height: 5rem;
    border: solid 0.1rem $manatee;
  }

  .dropdown-menu,
  .email-container {
    margin-bottom: 2.8rem;
    text-align: left;
  }
  .question-input:lang(ar) {
    text-align: right;
  }
  .question-input {
    height: 18rem;
    border: solid 0.1rem $manatee;
  }
  .question-container {
    margin-bottom: 4rem;
  }
  .form-btn {
    width: 100%;
    @include view-size(tab-port) {
      width: 18.4rem;
    }
  }

  .email-container,
  .dropdown-menu,
  .question-container {
    label {
      color: $manatee;
    }
  }
  .ant-form-vertical .ant-form-item-label:lang(ar) {
    text-align: right;
  }
  //ANTD SELECTOR
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: solid 0.1rem $manatee;
  }

  .ant-select-arrow svg {
    fill: $black03;
  }
  .ant-form-item-explain.ant-form-item-explain-error:lang(ar) {
    text-align: right;
  }
  .contact-success-container {
    max-width: 100rem;
    height: 60rem;
    @include view-size(desktop) {
      margin-left: 5rem;
    }
  }
}
