.birth-date-container {
  display: flex;
  gap: 1.6rem;
  width: auto;
  flex: 1;

  .width-day {
    flex: 1;
  }

  .date-picker-year {
    height: 5rem;
    flex: 1;
  }

  // Year
  .month-select {
    height: 5rem;
    flex: 2;
  }
}

.month-dropdown {
  .ant-select-item-option-content {
    &:lang(ar) {
      text-align: right;
    }
    &:lang(en) {
      text-align: start;
    }
  }
}
