.details-container {
  .upper-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    @include view-size(1150px) {
      flex-direction: row;
      margin-bottom: 1.9rem;
      align-items: center;
    }
    @include view-size(1300px) {
      gap: 10rem;
      font-size: 2.4rem;
      gap: 5rem;
    }
  }

  .upper-details-wrapper .instructor-details-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .upper-details-wrapper .instructor-details-container .img-container {
    display: flex;
    align-items: center;
  }
}
.progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.img-container img {
  border-radius: 50%;
}
.instructor-name {
  font-weight: 600;
}

.progress-bar-container {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.8rem;
  justify-content: space-between;
  align-items: baseline;

  &:lang(ar) {
    flex-direction: row;
  }
}

.ant-progress-text {
  margin-right: 2.8rem;
}
.digit-wrapper {
  font-weight: 600;
}

.introduction-container {
  max-width: 175.6rem;
  font-size: 1.8rem;
  line-height: 2;
  color: $shuttle-gray;
  margin-bottom: 8rem;
  @include view-size(tab-land) {
    margin-bottom: 9rem;
  }
}
.ant-progress-text {
  margin-right: 0;
  margin-left: 1rem;
}

.checklist svg {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.5rem;
}

._subheading-label {
  margin-bottom: 3.3rem;
  font-size: 2rem;
  @include view-size(tab-land) {
    margin-bottom: 3.6rem;
    font-size: 2.8rem;
  }
}

.list-item {
  margin-bottom: 2.3rem;
  display: flex;
  align-items: flex-start;
  font-size: 1.6rem;
  @include view-size(tab-land) {
    font-size: 1.8rem;
  }

  //antd-tab
  .ant-tabs-tab {
    margin: 0 0 0 2rem !important;
  }
}
