/* Colors */

$cardinal: #c41e32;

$gossip: #d3f8c2;
$pastel-green: #7ed958;
$apple: #69bd44;
$jade: #00b165;

$white: #ffffff;
$whisper: #fbfbfd;
$athens-gray: #e9ebee;
$alto: #dedede;
$silver: #cccccc;
$silver-chalice: #afaaaa;
$manatee: #8f949d;
$boulder: #767676;
$shuttle-gray: #616771;
$mine-shaft: #333333;
$black-29: #00000029;
$black: #000000;
