// Colors
$black: #000000;
$phantom: #2e3536;
$onyx: #393e40;
$boulder: #707070;
$oslo-gray: #808588;
$dove-gray: #746a6a;
$smog: #716b6b;
$hurricane: #958c8c;
$mandarin: #ff8800;
$blue: #01a0f2;
$blue-2: #0d7dfc;
$blue-3: #3762ee;
$white: #ffffff;
$white-30p: #ffffff4d;
$sky: #08d2f2;
$turquoise: #6fdff1;
$aqua: #def0f2;
$montana: #393c3e;
$cherenkov: #1fbaff;
$cyan: #41f8f2;
$raspberry: #0cbbf2;
$bright-turquoise: #13d6f5;
$french-pass: #bff4fc;
