.inquiry-container {
  display: flex;
  background-color: $whisper;
  padding: 6rem 4.45vw 8rem;
  @include view-size(tab-port) {
    padding: 6rem 5rem 8rem;
  }
  @include view-size(tab-land) {
    padding: 6rem 6.45vw 8rem;
  }
  @include view-size(desktop) {
    padding: 10rem;
  }

  .inquiry-wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    @include view-size(tab-land) {
      flex-direction: row;
    }
  }

  .inquiry-form {
    padding-top: 6rem;
    @include view-size(tab-land) {
      width: 72.4rem;
      padding: 0;
    }
    @include view-size(desktop) {
      padding: 0 3rem;
    }
    @include view-size(big-desktop) {
      padding: 0 5rem;
    }
  }

  .inquiry-form-wrapper {
    @include view-size(tab-land) {
      max-width: 50rem;
      padding: 5rem;
      background: $white;
      box-shadow: 0 0.3rem 1.6rem $black-29;
      border-radius: 0.4rem;
    }
    @include view-size(desktop) {
      max-width: 62.4rem;
    }
  }

  .first-name-container,
  .last-name-container,
  .email-container,
  .message-container {
    label {
      color: $manatee;
    }
  }

  .message-container {
    margin-bottom: 3rem;
  }
  .ant-form-item-label {
    padding: 0 0 1rem;
    @include view-size(tab-port) {
      padding: 0 0 1.2rem;
    }
  }

  .inquiry-input,
  .message-input {
    border: 0.1rem solid $manatee;
    border-radius: 0.2rem;
    opacity: 1;
    @include view-size(tab-land) {
      border-radius: 0.4rem;
      border: 0.1rem solid $silver;
    }
  }
  .inquiry-input {
    height: 5rem;
  }

  .message-input {
    height: 18rem;
    @include view-size(tab-land) {
      height: 10rem;
      border-radius: 0.4rem;
    }
  }
  .inquire-btn {
    width: 100%;
  }

  .info-container {
    max-width: 100%;
    height: none;
    @include view-size(tab-land) {
      height: 50rem;
      padding: 5rem 0 0 5rem;
    }
    @include view-size(desktop) {
      padding: 5.7rem 0rem 5rem 5rem;
    }
    @include view-size(big-desktop) {
      padding: 5.7rem 10rem;
    }
  }

  .label {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    @include view-size(desktop) {
      margin-bottom: 2rem;
      font-size: 6.3rem;
    }
  }

  .secondary-label {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    @include view-size(desktop) {
      margin-bottom: 5.1rem;
      font-size: 2.8rem;
    }
  }

  .details-wrappper .details-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include view-size(tab-land) {
      margin-bottom: 2rem;
    }
  }

  .details-label {
    padding-left: 1rem;
    font-size: 1.6rem;
    @include view-size(desktop) {
      font-size: 1.8rem;
    }
  }

  ._email-label {
    color: $jade;
  }

  .contact-us-wrapper {
    padding-left: 0.7rem;
    @include view-size(tab-land) {
      padding-left: none;
    }
  }
  .details-wrappper ._upper svg {
    width: 3rem;
    @include view-size(desktop) {
      width: 2rem;
    }
  }

  .name-container {
    display: flex;
    flex-direction: column;
    @include view-size(tab-port) {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 2rem;
    }
    @include view-size(tab-land) {
      flex-direction: column;
    }
  }
  .first-name-container,
  .last-name-container {
    width: 100%;
  }
}
