.about-us-section {
  .about-us-banner {
    display: flex;
    justify-content: center;
  }

  .about-us-info {
    padding: 10rem;
    background-color: $whisper;
    display: flex;
    justify-content: center;
  }

  .info-wrapper {
    max-width: 192rem;
  }

  .info-wrapper .about-us-label {
    color: $apple;
    margin-bottom: 2.2rem;
  }

  .about-us-description {
    max-height: 18.2rem;
    font-size: 2.4rem;
    color: $shuttle-gray;
    max-width: 172rem;
    line-height: 1.6;
    font-weight: 600;
  }

  .partners-section {
    box-shadow: none;
  }

  @import "./gallerySection";
  @import "./inquiry";
}
