.about-us-section {
  .about-us-banner {
    display: none;
    @include view-size(765px) {
      display: flex;
      justify-content: center;
    }
  }
  .about-us-mobile {
    display: flex;
    justify-self: center;
    @include view-size(765px) {
      display: none;
    }
  }

  .about-us-info {
    background-color: $whisper;
    display: flex;
    justify-content: center;
    @include side-padding;
  }

  .info-wrapper {
    max-width: 192rem;
  }

  .info-wrapper .about-us-label {
    color: $tropical-rain-forest;
    margin-bottom: 2.2rem;
    font-size: 3.2rem;
    @include view-size(desktop) {
      font-size: 6.3rem;
    }
  }

  .about-us-description {
    color: $shuttle-gray;
    max-width: 172rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    @include view-size(desktop) {
      font-size: 2.4rem;
      line-height: 1.6;
    }
  }

  .partners-section {
    box-shadow: none;
  }

  @import "./gallerySection";
  @import "./inquiry";
}
