.course-card {
  position: relative; // Essential for position absolute in card-details to work
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  max-width: 55.3rem;
  height: 54.5rem;

  .card-dark-filter {
    position: absolute;
    top: 0.1rem;
    background: $shuttle-gray-79;
    height: 30.3rem;
    width: 100%;
  }

  .locked-icon-container {
    position: absolute;
    top: 4.15rem;
    right: 4.7rem;
    fill: $white;
    transition: 0.5s;
  }

  .card-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
    left: -0.1rem;
    bottom: 0.1rem;
    padding: 4rem;
    background: $white;
    width: 101%;
    max-width: 55.4rem;

    height: 24rem;
    transition: 0.25s;

    .card-hover-details {
      opacity: 0%;
      height: 0rem;
      margin-bottom: 0rem;
      pointer-events: none;
    }

    &:hover {
      height: 100%;
      transition: 0.25s;

      .card-hover-details {
        transition: 0.3s;
        opacity: 100%;
        height: 100%;
        max-height: 27.4rem;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    &:hover + .locked-icon-container {
      transition: 0.5s;
      fill: $black;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .card-details {
    opacity: 100%;
  }

  .card-unit {
    font-size: 2.8rem;
    font-weight: bold;
    color: $tropical-rain-forest;
    margin-bottom: 2rem;
  }

  .card-title {
    font-size: 2.4rem;
    font-weight: bold;
    height: 8rem;
  }

  .card-description {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  /* <AntD Progress Bar Override> */

  .ant-progress-inner {
    background: #d3f8c2;
    height: 1.1rem;
  }

  .ant-progress-outer {
    width: 45rem;
  }

  .ant-progress-bg {
    height: 1.1rem !important;
  }
  .ant-progress-text {
    margin-left: 0;
    color: $black;
  }

  .progress-bar-container {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: baseline;
  }

  /* </AntD Progress Bar Override> */
}
