.course-card {
  position: relative; // Essential for position absolute in card-details to work
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  max-width: 55.3rem;
  max-height: 54.5rem;
  overflow: hidden;

  @include view-size(tab-port) {
    height: 54.5rem;
  }

  @include view-size(tab-land) {
  }

  .card-image-container {
    padding-bottom: 24rem;
  }

  .card-dark-filter {
    position: absolute;
    top: 0.1rem;
    background: $shuttle-gray-79;
    padding-top: 100%;
    width: 100%;
  }

  .card-description {
    opacity: 0%;
    height: 0rem;
    margin-bottom: 0rem;
    pointer-events: none;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    font-size: 1.4rem;
    line-height: 2rem;
    @include view-size(340px) {
      -webkit-line-clamp: 6; /* number of lines to show */
      line-clamp: 6;
    }
    @include view-size(tab-port) {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }

  .card-view-button {
    opacity: 0%;
    height: 0rem;
    margin-bottom: 0rem;
    pointer-events: none;

    margin-bottom: 2rem;
  }

  .locked-icon-container {
    position: absolute;
    fill: $white;
    transition: 0.5s;

    width: 1.8rem;
    height: 2.675rem;
    top: 2rem;
    right: 2rem;

    @include view-size(tab-port) {
      width: 2.8rem;
      height: 3.675rem;
      top: 4.15rem;
      right: 4.7rem;
    }
  }

  .card-details-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
    left: -0.1rem;
    bottom: 0.1rem;
    background: $white;
    width: 101%;
    max-width: 55.4rem;
    height: 24rem;
    transition: 0.25s;

    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include view-size(tab-port) {
      padding: 4rem;
    }

    // .card-hover-details {
    //   opacity: 0%;
    //   height: 0rem;
    //   margin-bottom: 0rem;
    //   pointer-events: none;
    // }

    &:hover {
      height: 100%;
      transition: 0.25s;

      // .card-hover-details {
      //   transition: 0.3s;
      //   opacity: 100%;
      //   // height: 100%;
      //   max-height: 27.4rem;
      //   pointer-events: auto;
      //   // display: flex;
      //   // flex-direction: column;
      //   // justify-content: flex-end;
      // }
    }

    &:hover .card-description {
      transition: 0.5s;
      opacity: 100%;
      height: fit-content;
      pointer-events: auto;
    }

    &:hover .card-view-button {
      transition: 0.5s;
      opacity: 100%;
      height: fit-content;
      pointer-events: auto;
    }

    &:hover + .locked-icon-container {
      transition: 0.5s;
      fill: $black;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  // .card-details {
  //   opacity: 100%;
  // }

  .card-unit {
    font-weight: bold;
    color: $tropical-rain-forest;
    margin-bottom: 2rem;

    font-size: 1.8rem;
    @include view-size(tab-port) {
      font-size: 2.8rem;
    }
  }

  .card-title {
    margin-bottom: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;

    font-weight: bold;
    // height: 8rem;

    font-size: 2rem;
    @include view-size(tab-port) {
      font-size: 2.4rem;
    }

    @include view-size(tab-land) {
    }
  }

  /* <AntD Progress Bar Override> */

  .ant-progress-outer {
    width: 45rem;
  }

  .ant-progress-bg {
    height: 1.1rem !important;
    background: $tropical-rain-forest !important;
  }
  .ant-progress-text {
    margin-left: 0;
    color: $black;
  }

  .progress-bar-container {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: baseline;
  }

  /* </AntD Progress Bar Override> */
}
